In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
raw_loc_base = '../data/raw'
file_numbers = ['17', '19', '20','21','22','23','25','26','41','42','44','45']

In [3]:
master_name = 'Input information and X10 - X18.xlsx'
master_loc = os.path.join(raw_loc_base, master_name)
master = pd.read_excel(master_loc, sheet='inputs', header=0)

In [4]:
master.head()

,Input,Key,X10: Category Method,X11: Temperature (K),X12: [Salt*Valency],X13: Category Salt type,X14: [Buffer] (mM),X15: pH,X16: CI number,X17: CI,X18: CP,Output: logK
0,1,17,A,298,0,0,0,6.00,0,NaN,CP_3,4.39
1,2,17,B,298,0,0,50,4.74,0,NaN,NaN,4.39
2,3,19,A,298,0,0,0,6.00,1,CI_2,CP_3,4.63
3,4,20,A,298,0,0,0,6.00,2,CI_1,CP_3,4.80
4,5,21,A,298,0,0,0,6.00,2,CI_2,CP_3,4.90

In [5]:
def read_X1(file_name, sheet_name='X1', col_names=['atom_number', 'AMU', 'x', 'y', 'z']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)
    
def read_X2(file_name, sheet_name='X2', col_name='occupied'):
    df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
    flat = df.values.flatten()
    return pd.Series(flat[~np.isnan(flat)]).rename(col_name)

def read_X2V(file_name, sheet_name='X2V', col_name='virtual'):
    df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
    flat = df.values.flatten()
    return pd.Series(flat[~np.isnan(flat)]).rename(col_name)

def read_X3(file_name, sheet_name='X3'):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None)

def read_X4(file_name, sheet_name='X4'):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None)

def read_X5(file_name, sheet_name='X5', col_names=['electric_potential', 'x', 'y', 'z']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)

def read_X6(file_name, sheet_name='X6', col_names=['XX', 'YY', 'ZZ', 'XY', 'XZ', 'YZ']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)

def read_X7(file_name, sheet_name='X7'):
    return pd.read_excel(file_name, sheet_name='X7', header=None)

def read_X8(file_name, sheet_name='X8', col_name='SCF'):
    df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
    flat = df.values.flatten()
    return pd.Series(flat[~np.isnan(flat)]).rename(col_name)
    
def read_X9(file_name, sheet_name='X9', col_name='MO'):
    df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
    flat = df.values.flatten()
    return pd.Series(flat[~np.isnan(flat)]).rename(col_name)

In [8]:
for num in file_numbers:
    x = read_X1(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 5)
(23, 5)
(50, 5)
(16, 5)
(16, 5)
(16, 5)
(17, 5)
(28, 5)
(23, 5)
(22, 5)
(32, 5)
(23, 5)

In [7]:
for num in file_numbers:
    x = read_X2(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(50,)
(41,)
(70,)
(29,)
(29,)
(29,)
(29,)
(49,)
(40,)
(32,)
(61,)
(41,)

In [6]:
for num in file_numbers:
    x = read_X2V(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(383,)
(284,)
(549,)
(201,)
(203,)
(202,)
(209,)
(356,)
(264,)
(242,)
(424,)
(277,)

In [9]:
for num in file_numbers:
    x = read_X3(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 34)
(23, 23)
(50, 50)
(17, 16)
(16, 16)
(16, 16)
(17, 17)
(28, 28)
(23, 23)
(22, 22)
(32, 32)
(23, 23)

In [10]:
for num in file_numbers:
    x = read_X4(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 3)
(23, 3)
(50, 3)
(16, 3)
(16, 3)
(16, 3)
(17, 3)
(28, 3)
(23, 3)
(22, 3)
(32, 3)
(23, 3)

In [11]:
for num in file_numbers:
    x = read_X5(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 4)
(23, 4)
(50, 4)
(16, 4)
(16, 4)
(16, 4)
(17, 4)
(28, 4)
(23, 4)
(22, 4)
(32, 4)
(23, 4)

In [12]:
for num in file_numbers:
    x = read_X6(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 6)
(23, 6)
(50, 6)
(16, 6)
(16, 6)
(16, 6)
(17, 6)
(28, 6)
(23, 6)
(22, 6)
(32, 6)
(23, 6)

In [13]:
for num in file_numbers:
    x = read_X7(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(34, 3)
(23, 3)
(50, 3)
(16, 3)
(16, 3)
(16, 3)
(17, 3)
(28, 3)
(23, 3)
(22, 3)
(32, 3)
(23, 3)

In [16]:
for num in file_numbers:
    x = read_X8(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(93961,)
(53301,)
(192510,)
(27028,)
(27028,)
(27028,)
(28680,)
(82621,)
(46360,)
(37675,)
(122265,)
(51040,)

In [15]:
for num in file_numbers:
    x = read_X9(os.path.join(raw_loc_base, num+'.xlsx'))
    print(x.shape)

(187489,)
(105950,)
(383780,)
(53360,)
(53824,)
(53592,)
(56882,)
(164430,)
(92416,)
(75076,)
(239590,)
(101442,)