In [1]:
import pandas as pd
import os

In [2]:
raw_loc_base = '../data/raw'

In [3]:
master_name = 'Input information and X10 - X18.xlsx'
master_loc = os.path.join(raw_loc_base, master_name)
master = pd.read_excel(master_loc, sheet='inputs', header=0)

In [4]:
master.head()

,Input,Key,X10: Category Method,X11: Temperature (K),X12: [Salt*Valency],X13: Category Salt type,X14: [Buffer] (mM),X15: pH,X16: CI number,X17: CI,X18: CP,Output: logK
0,1,17,A,298,0,0,0,6.00,0,NaN,CP_3,4.39
1,2,17,B,298,0,0,50,4.74,0,NaN,NaN,4.39
2,3,19,A,298,0,0,0,6.00,1,CI_2,CP_3,4.63
3,4,20,A,298,0,0,0,6.00,2,CI_1,CP_3,4.80
4,5,21,A,298,0,0,0,6.00,2,CI_2,CP_3,4.90

In [33]:
def read_X1(file_name, sheet_name='X1', col_names=['atom_number', 'AMU', 'x', 'y', 'z']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)
    
def read_X2(file_name, sheet_name='X2', col_names=['occupied', 'virtual']):
    # TODO: reformat
    df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
    return df

def read_X3(file_name, sheet_name='X3'):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None)

def read_X4(file_name, sheet_name='X4'):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None)

def read_X5(file_name, sheet_name='X5', col_names=['electric_potential', 'x', 'y', 'z']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)

def read_X6(file_name, sheet_name='X6', col_names=['XX', 'YY', 'ZZ', 'XY', 'XZ', 'YZ']):
    return pd.read_excel(file_name, sheet_name=sheet_name, header=None, names=col_names)
#     df = pd.read_excel(file_name, sheet_name=sheet_name, header=None)
#     num_rows = df.shape[0]
    
#     sames = df.iloc[:num_rows//2]
#     sames.columns = col_names[:len(col_names)//2]
#     diffs = df.iloc[num_rows//2:]
#     diffs.columns = col_names[len(col_names)//2:]
    
#     return pd.join(sames, diffs, how='inner')

def read_X7(file_name, sheet_name='X7'):
    return pd.read_excel(file_name, sheet_name='X7', header=None)

def read_X8(file_name, sheet_name='X8', col_name=['scf']):

In [34]:
x = read_X7(os.path.join(raw_loc_base, '17.xlsx'))
x.head()

            0           1           2
0 -500.289284 -500.279438 -500.235286
1 -500.449535 -500.424719 -500.391931
2 -500.227550 -500.222872 -500.215587
3 -500.528545 -500.492804 -500.445511
4 -500.457285 -500.170744 -500.148946